body{
    background-color: black;
    
}

.list{
    display:flex;
    justify-content: center;
    align-items: center;
}

.product{
    background-color: green;
    margin:10px;
    padding:10px;
    font-size: 16px;
    width: 280px;
}

@media (max-width:1250px){
    .list{
        flex-wrap: wrap;
    }

    .product{
        width: 45%;
    }
}

@media (max-width:500px){
    .product{
        width:90%;
    }
}