body{
    background-color: black;
}

.jeeva{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jee{
    color:brown;
    font-size: 50px;
    margin: 20px;
    text-align:center;
}

.text{
    color:darkred
}

.jeeva1{
    display: flex;
    justify-content: center;   
}